<div class="catalog row">
    <div class="catalog__categories col-xs-12">
        <select name="sources" id="sources" class="custom-select sources" placeholder="what’s hot?">
            <option value="profile">what’s hot?</option>
            <option value="profile">designers</option>
            <option value="word">featured</option>
            <option value="hashtag">latest</option>
        </select>
    </div>
    <div class="catalog__items catalog__carousel row">
        <part src="../partials/_product.html"></part>
        <part src="../partials/_product.html"></part>
    </div>
    <div class="catalog__more col-xs-12">
        <button class="btn">load more</button>
    </div>
</div>