<div class="clearance row">
    <div class="clearance__block clearance__block--line"></div>
    <div class="clearance__block clearance__block--image">
        <img src="../img/clearance.png" alt="clearance">
    </div>
    <div class="clearance__block clearance__block--line"></div>
    <div class="catalog__items row">
        <part src="../partials/_product.html"></part>
        <part src="../partials/_product.html"></part>
    </div>
    <div class="catalog__more col-xs-12">
        <button class="btn">load more</button>
    </div>
</div>