<div class="header row">
    <div class="header__logo column col-xs-12">
        <img src="../img/logo.png" alt="Site logo">
    </div>
    <div class="header__cart column cart col-xs-12">
        <div class="cart__wrap">
            <div class="cart__icon">
                <i class="fa fa-shopping-bag fa-lg" aria-hidden="true"></i>
            </div>
            <div class="cart__info">
                <div class="cart__items">0 items |&nbsp;</div><div class="cart__total">$ 0</div>
            </div>
        </div>
    </div>
    <div class="header__menu column menu col-xs-12">
        <div class="menu__wrap">
            MENU
            <part src="../partials/_hamburger.html"></part>
        </div>
    </div>
</div>