<div class="subscribe row">
    <div class="subscribe__block column col-xs-12">
        <form class="subscribe__form">
            <input type="text" class="subscribe__input" placeholder="Your email address">
            <a href="#" class="subscribe__button btn btn--look" onclick="event.stopPropagation()">
                <i class="fa fa-plus fa-lg"></i> 
            </a>
        </form>
    </div>
    <div class="social column col-xs-12">
        <div class="social__wrap">
            <span class="social__text">Find us here</span>
            <div class="social__block">
                <a href="#" class="social__item"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="#" class="social__item"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" class="social__item"><i class="fa fa-pinterest fa-lg"></i></a>
            </div>
        </div>
    </div> 
</div>