<div class="top-line row">
    <div class="top-line__phone column col-xs-12">
        custom care: 888-123-456
    </div>
    <div class="top-line__actions col-xs-12">
        <div class="top-line__currency currency action">
            <div class="currency__items">
                <ul>
                    <li class="currency__item currency__item--active"><i class="fa fa-usd fa-md"></i>US</li>
                    <li class="currency__item"><i class="fa fa-eur fa-md"></i>EUR</li>
                    <li class="currency__item"><i class="fa fa-rub fa-md"></i>RUB</li>
                </ul>
            </div>
            <div class="currency__arrows">
                <span class="currency__arrow currency__arrow--down"></span>
                <span class="currency__arrow currency__arrow--up"></span>
            </div>
        </div>
        <div class="top-line__user action">
            <i class="fa fa-user fa-lg"></i>
            <span class="top-line__user-name">
                my account
            </span>
        </div>
        <div class="top-line__search action">
           <i class="fa fa-search fa-flip-horizontal fa-lg"></i> 
        </div>
    </div>
</div>