.header {

    &__logo {
        padding: 35px 0;
        text-align: center;

        img {
            max-width: 240px;
        }
    }

    &__cart,
    &__menu {
        margin-bottom: 25px;
    }

}

.cart {
    color: #949393;

    &__wrap {
        background-color: #fafafa;
        border: 1px solid #d6d6d6;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__icon {
        color: #b3b3b3;
    }

    &__items,
    &__total {
        display: inline-block;
        text-transform: uppercase;
    }

}

.menu {

    &__wrap {
        background-color: #fd926d;
        color: #ffffff;
        padding: 20px; 
    }

}