.subscribe {
    margin-bottom: 20px;

    &__block {
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
    }

    &__button {
        flex-basis: auto;
        padding: 20px 18px 12px;
        font-size: 1.65rem;
        
        &:hover {
            border-color: #fd926d;
        }
    }

   &__input {
    flex-basis: auto;
    flex-grow: 1;
    padding: 18px;
    border: none;
    outline: none;
    background-color: #ededed;
    font-size: 1rem;
   }

    ::-webkit-input-placeholder {color:#9f9f9f; font-style: italic;}
    ::-moz-placeholder          {color:#9f9f9f; font-style: italic;}
    :-moz-placeholder           {color:#9f9f9f; font-style: italic;}
    :-ms-input-placeholder      {color:#9f9f9f; font-style: italic;}

    :focus::-webkit-input-placeholder {color: transparent}
    :focus::-moz-placeholder          {color: transparent}
    :focus:-moz-placeholder           {color: transparent}
    :focus:-ms-input-placeholder      {color: transparent}

}

.social {

    color: #6b6b6b;

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        margin-right: 20px;
    }

    &__item {
        color: #6b6b6b;
        float: left;
        padding: 20px;
        background-color: #f7f7f7;

        &:hover {
            background-color: #ededed;
        }
    }

}