@import 'nocompile/variables';
@import 'nocompile/fonts';

body {
    font: 16px "Arial", sans-serif;
    line-height: 1em;
}

img {
    max-width: 100%;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

span, button {
    display: block;
}

.btn {
    text-transform: uppercase;
    padding: 10px 20px;
    color: #fff;

    &--look {
        background-color: #fd926d;
        border-bottom: 5px solid #dd6b44;
        transition: all .3s ease;

        &:hover {
            border-color: #fd926d;
        }
    }

}