.row {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	.column {
		flex-basis: 100%;
	}
	> {
		.column {
			padding-left: 10px;
			padding-right: 10px;
			.through-gutter {
				.row > .column {
					padding-left: 10px;
					padding-right: 10px;
				}
				&.row > .column {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
			&.no-gutter {
				padding-left: 0;
				padding-right: 0;
				> .force-gutter.column {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
			.row > {
				.column {
					padding-left: 0;
					padding-right: 0;
				}
				.force-gutter.column {
					padding-left: 10px;
					padding-right: 10px;
				}
				.through-gutter.column {
					padding-left: 10px;
					padding-right: 10px;
				}
				.no-gutter.column {
					padding-left: 0;
					padding-right: 0;
				}
			}
			.force-gutter.row > .column {
				padding-left: 10px;
				padding-right: 10px;
			}
			.no-gutter.row > .column {
				padding-left: 0;
				padding-right: 0;
			}
			> .through-gutter.column .row > .column {
				padding-left: 10px;
				padding-right: 10px;
			}
			&.force-gutter > .no-gutter.column {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.no-gutter.column .row > .column {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.col-auto {
	flex: 1 1 0;
}
@media all and(min-width: 320px) {
	.row {
		.col-xs-12 {
			flex-basis: 90%;
			flex-grow: 12;
			&.no-grow {
				max-width: 100%;
			}
		}
		.col-xs-11 {
			flex-basis: 82.5%;
			flex-grow: 11;
			&.no-grow {
				max-width: 91.66%;
			}
		}
		.col-xs-10 {
			flex-basis: 75%;
			flex-grow: 10;
			&.no-grow {
				max-width: 83.33%;
			}
		}
		.col-xs-9 {
			flex-basis: 67.5%;
			flex-grow: 9;
			&.no-grow {
				max-width: 75%;
			}
		}
		.col-xs-8 {
			flex-basis: 60%;
			flex-grow: 8;
			&.no-grow {
				max-width: 66.66%;
			}
		}
		.col-xs-7 {
			flex-basis: 52.5%;
			flex-grow: 7;
			&.no-grow {
				max-width: 58.33%;
			}
		}
		.col-xs-6 {
			flex-basis: 45%;
			flex-grow: 6;
			&.no-grow {
				max-width: 50%;
			}
		}
		.col-xs-5 {
			flex-basis: 37.5%;
			flex-grow: 5;
			&.no-grow {
				max-width: 41.66%;
			}
		}
		.col-xs-4 {
			flex-basis: 30%;
			flex-grow: 4;
			&.no-grow {
				max-width: 33.33%;
			}
		}
		.col-xs-3 {
			flex-basis: 22.5%;
			flex-grow: 3;
			&.no-grow {
				max-width: 25%;
			}
		}
		.col-xs-2 {
			flex-basis: 15%;
			flex-grow: 2;
			&.no-grow {
				max-width: 16.66%;
			}
		}
		.col-xs-1 {
			flex-basis: 7.5%;
			flex-grow: 1;
			&.no-grow {
				max-width: 8.33%;
			}
		}
		.col-xs-offset-11 {
			margin-left: 91.66%;
		}
		.col-xs-offset-10 {
			margin-left: 83.33%;
		}
		.col-xs-offset-9 {
			margin-left: 75%;
		}
		.col-xs-offset-8 {
			margin-left: 66.66%;
		}
		.col-xs-offset-7 {
			margin-left: 58.33%;
		}
		.col-xs-offset-6 {
			margin-left: 50%;
		}
		.col-xs-offset-5 {
			margin-left: 41.66%;
		}
		.col-xs-offset-4 {
			margin-left: 33.33%;
		}
		.col-xs-offset-3 {
			margin-left: 25%;
		}
		.col-xs-offset-2 {
			margin-left: 16.66%;
		}
		.col-xs-offset-1 {
			margin-left: 8.33%;
		}
	}
}
@media all and(min-width: 480px) {
	.row {
		.col-sm-12 {
			flex-basis: 90%;
			flex-grow: 12;
			&.no-grow {
				max-width: 100%;
			}
		}
		.col-sm-11 {
			flex-basis: 82.5%;
			flex-grow: 11;
			&.no-grow {
				max-width: 91.66%;
			}
		}
		.col-sm-10 {
			flex-basis: 75%;
			flex-grow: 10;
			&.no-grow {
				max-width: 83.33%;
			}
		}
		.col-sm-9 {
			flex-basis: 67.5%;
			flex-grow: 9;
			&.no-grow {
				max-width: 75%;
			}
		}
		.col-sm-8 {
			flex-basis: 60%;
			flex-grow: 8;
			&.no-grow {
				max-width: 66.66%;
			}
		}
		.col-sm-7 {
			flex-basis: 52.5%;
			flex-grow: 7;
			&.no-grow {
				max-width: 58.33%;
			}
		}
		.col-sm-6 {
			flex-basis: 45%;
			flex-grow: 6;
			&.no-grow {
				max-width: 50%;
			}
		}
		.col-sm-5 {
			flex-basis: 37.5%;
			flex-grow: 5;
			&.no-grow {
				max-width: 41.66%;
			}
		}
		.col-sm-4 {
			flex-basis: 30%;
			flex-grow: 4;
			&.no-grow {
				max-width: 33.33%;
			}
		}
		.col-sm-3 {
			flex-basis: 22.5%;
			flex-grow: 3;
			&.no-grow {
				max-width: 25%;
			}
		}
		.col-sm-2 {
			flex-basis: 15%;
			flex-grow: 2;
			&.no-grow {
				max-width: 16.66%;
			}
		}
		.col-sm-1 {
			flex-basis: 7.5%;
			flex-grow: 1;
			&.no-grow {
				max-width: 8.33%;
			}
		}
		.col-sm-offset-11 {
			margin-left: 91.66%;
		}
		.col-sm-offset-10 {
			margin-left: 83.33%;
		}
		.col-sm-offset-9 {
			margin-left: 75%;
		}
		.col-sm-offset-8 {
			margin-left: 66.66%;
		}
		.col-sm-offset-7 {
			margin-left: 58.33%;
		}
		.col-sm-offset-6 {
			margin-left: 50%;
		}
		.col-sm-offset-5 {
			margin-left: 41.66%;
		}
		.col-sm-offset-4 {
			margin-left: 33.33%;
		}
		.col-sm-offset-3 {
			margin-left: 25%;
		}
		.col-sm-offset-2 {
			margin-left: 16.66%;
		}
		.col-sm-offset-1 {
			margin-left: 8.33%;
		}
	}
}
@media all and(min-width: 720px) {
	.row {
		.col-md-12 {
			flex-basis: 90%;
			flex-grow: 12;
			&.no-grow {
				max-width: 100%;
			}
		}
		.col-md-11 {
			flex-basis: 82.5%;
			flex-grow: 11;
			&.no-grow {
				max-width: 91.66%;
			}
		}
		.col-md-10 {
			flex-basis: 75%;
			flex-grow: 10;
			&.no-grow {
				max-width: 83.33%;
			}
		}
		.col-md-9 {
			flex-basis: 67.5%;
			flex-grow: 9;
			&.no-grow {
				max-width: 75%;
			}
		}
		.col-md-8 {
			flex-basis: 60%;
			flex-grow: 8;
			&.no-grow {
				max-width: 66.66%;
			}
		}
		.col-md-7 {
			flex-basis: 52.5%;
			flex-grow: 7;
			&.no-grow {
				max-width: 58.33%;
			}
		}
		.col-md-6 {
			flex-basis: 45%;
			flex-grow: 6;
			&.no-grow {
				max-width: 50%;
			}
		}
		.col-md-5 {
			flex-basis: 37.5%;
			flex-grow: 5;
			&.no-grow {
				max-width: 41.66%;
			}
		}
		.col-md-4 {
			flex-basis: 30%;
			flex-grow: 4;
			&.no-grow {
				max-width: 33.33%;
			}
		}
		.col-md-3 {
			flex-basis: 22.5%;
			flex-grow: 3;
			&.no-grow {
				max-width: 25%;
			}
		}
		.col-md-2 {
			flex-basis: 15%;
			flex-grow: 2;
			&.no-grow {
				max-width: 16.66%;
			}
		}
		.col-md-1 {
			flex-basis: 7.5%;
			flex-grow: 1;
			&.no-grow {
				max-width: 8.33%;
			}
		}
		.col-md-offset-11 {
			margin-left: 91.66%;
		}
		.col-md-offset-10 {
			margin-left: 83.33%;
		}
		.col-md-offset-9 {
			margin-left: 75%;
		}
		.col-md-offset-8 {
			margin-left: 66.66%;
		}
		.col-md-offset-7 {
			margin-left: 58.33%;
		}
		.col-md-offset-6 {
			margin-left: 50%;
		}
		.col-md-offset-5 {
			margin-left: 41.66%;
		}
		.col-md-offset-4 {
			margin-left: 33.33%;
		}
		.col-md-offset-3 {
			margin-left: 25%;
		}
		.col-md-offset-2 {
			margin-left: 16.66%;
		}
		.col-md-offset-1 {
			margin-left: 8.33%;
		}
	}
}
@media all and(min-width: 960px) {
	.row {
		.col-lg-12 {
			flex-basis: 90%;
			flex-grow: 12;
			&.no-grow {
				max-width: 100%;
			}
		}
		.col-lg-11 {
			flex-basis: 82.5%;
			flex-grow: 11;
			&.no-grow {
				max-width: 91.66%;
			}
		}
		.col-lg-10 {
			flex-basis: 75%;
			flex-grow: 10;
			&.no-grow {
				max-width: 83.33%;
			}
		}
		.col-lg-9 {
			flex-basis: 67.5%;
			flex-grow: 9;
			&.no-grow {
				max-width: 75%;
			}
		}
		.col-lg-8 {
			flex-basis: 60%;
			flex-grow: 8;
			&.no-grow {
				max-width: 66.66%;
			}
		}
		.col-lg-7 {
			flex-basis: 52.5%;
			flex-grow: 7;
			&.no-grow {
				max-width: 58.33%;
			}
		}
		.col-lg-6 {
			flex-basis: 45%;
			flex-grow: 6;
			&.no-grow {
				max-width: 50%;
			}
		}
		.col-lg-5 {
			flex-basis: 37.5%;
			flex-grow: 5;
			&.no-grow {
				max-width: 41.66%;
			}
		}
		.col-lg-4 {
			flex-basis: 30%;
			flex-grow: 4;
			&.no-grow {
				max-width: 33.33%;
			}
		}
		.col-lg-3 {
			flex-basis: 22.5%;
			flex-grow: 3;
			&.no-grow {
				max-width: 25%;
			}
		}
		.col-lg-2 {
			flex-basis: 15%;
			flex-grow: 2;
			&.no-grow {
				max-width: 16.66%;
			}
		}
		.col-lg-1 {
			flex-basis: 7.5%;
			flex-grow: 1;
			&.no-grow {
				max-width: 8.33%;
			}
		}
		.col-lg-offset-11 {
			margin-left: 91.66%;
		}
		.col-lg-offset-10 {
			margin-left: 83.33%;
		}
		.col-lg-offset-9 {
			margin-left: 75%;
		}
		.col-lg-offset-8 {
			margin-left: 66.66%;
		}
		.col-lg-offset-7 {
			margin-left: 58.33%;
		}
		.col-lg-offset-6 {
			margin-left: 50%;
		}
		.col-lg-offset-5 {
			margin-left: 41.66%;
		}
		.col-lg-offset-4 {
			margin-left: 33.33%;
		}
		.col-lg-offset-3 {
			margin-left: 25%;
		}
		.col-lg-offset-2 {
			margin-left: 16.66%;
		}
		.col-lg-offset-1 {
			margin-left: 8.33%;
		}
	}
}
.through-gutter .row > .column .row > .column {
	padding-left: 10px;
	padding-right: 10px;
}
.no-gutter .row > .column {
	padding-left: 0;
	padding-right: 0;
}