<!DOCTYPE html>
<html lang="en">
<head>
    <part src="../partials/_meta.html" title="LookShop - Главная"></part>
</head>
<body>
	<div class="container">
		<part src="../partials/_top-line.html"></part>
		<part src="../partials/_header.html"></part>
		<part src="../partials/_subscribe-and-social.html"></part>
		<part src="../partials/_catalog.html"></part>
		<part src="../partials/_clearance.html"></part>
		<part src="../partials/_footer.html"></part>
		
	</div>
    
    <link rel="stylesheet" href="../css/main.min.css">
    <script src="../js/scripts.min.js"></script>
</body>
</html>